<div class="row">
    <div class="col-md-6">
        <div class="mb-3">
            <label for="num1" class="form-label">Numero1</label>
            <input type="text" [(ngModel)]='num1' class="form-control" name="num1" placeholder="Numero1">
        </div>
        <div class="mb-3">
            <label for="num2" class="form-label">Numero2</label>
            <input type="text" [(ngModel)]='num2'  class="form-control" name="num2" placeholder="Numero2">
        </div>
        <div class="mb-3">
            <input type="radio" name="Calcular" value="sumar"  [(ngModel)]='operacion'/> Sumar<br>
            <input type="radio" name="Calcular" value="restar"  [(ngModel)]='operacion'/> Restar<br>
            <input type="radio" name="Calcular" value="multiplicar"  [(ngModel)]='operacion'/> Multiplicar<br>
            <input type="radio" name="Calcular" value="dividir"  [(ngModel)]='operacion'/> Dividir<br>
        </div>
        <div class="mb-3">
            <button (click)="Calcular()" class="btn btn-primary">Calcular</button>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Resultado: {{resultado}}</h2>
    </div>
</div>